@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url('./LandingPage.scss');
@import url('./ProductsPage.styles.scss');

$mediaWidthLg: 1260px;
$mediaWidthMd: 960px;
$mediaWidthSm: 480px;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Inter", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  overflow-x: hidden;
}